---
import type { Programme } from "../types.ts";
import ProgrammeCategories from "./ProgrammeCategories.astro";
import ProgrammeChannel from "./ProgrammeChannel.astro";
import ProgrammeEpisodeNumber from "./ProgrammeEpisodeNumber.astro";
import ProgrammeLargeCover from "./ProgrammeLargeCover.astro";
import ProgrammeProgress from "./ProgrammeProgress.astro";

interface Props {
	programme: Programme;
}

const { programme } = Astro.props;
---

<article class="programme">
    <div class="cover">
      <div class="illustration">
        {programme.icon && <ProgrammeLargeCover icon={programme.icon} />}
      </div>
      <div class="channel">
        <ProgrammeChannel channelId={programme.channel} />
      </div>
    </div>

    <div class="content">
      <hgroup>
        <h3 class="title">
          <a href=`/telehoraire-website/programme/${programme.id}`><span set:html={programme.title}></span></a>
          {programme.episodeNum && <ProgrammeEpisodeNumber
            episodeNum={programme.episodeNum}
          />}
        </h3>

        <p
          v-if="programme.subTitle"
          class="subtitle"
          v-html="programme.subTitle"
        ></p>
      </hgroup>

      <ProgrammeCategories categories={programme.category} />
    </div>

    <footer>
      { programme.startStop }
      <ProgrammeProgress start={programme.start} stop={programme.stop} />
    </footer>
</article>

<style scoped>
.programme {
    max-width: var(--programme-max-width);
    height: 100%;
    padding-top: 0;

    .cover {
    position: relative;

    .illustration {
        width: calc(100% + 2 * var(--pico-block-spacing-horizontal));
        margin-left: calc(-1 * var(--pico-block-spacing-horizontal));
        margin-right: calc(-1 * var(--pico-block-spacing-horizontal));
        border-top-left-radius: var(--pico-border-radius);
        border-top-right-radius: var(--pico-border-radius);
    }

    .channel {
        position: absolute;
        top: 10px;
        left: 10px;
        padding: calc(0.7 * var(--pico-spacing)) var(--pico-spacing);
        margin: auto;
        background: rgba(255, 255, 255, 0.8);
        border-radius: var(--pico-border-radius);

        @media (prefers-color-scheme: dark) {
        background: rgba(19, 23, 31, 0.8);
        }
    }
    }

    .cover-only-channel {
    padding-top: var(--pico-block-spacing-vertical);
    margin-bottom: calc(-0.75 * var(--pico-block-spacing-vertical));
    }

    .content {
    margin-top: var(--pico-block-spacing-vertical);

    .title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--pico-spacing);
    }

    .description {
        margin-top: var(--pico-typography-spacing-vertical);
        margin-bottom: 0;
        font-size: calc(0.8 * var(--pico-font-size));
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    }
}
</style>
